<h1>Add new theme</h1>

<form action="/addArticles" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Theme</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>


  <div class="input-field">
    <input id="text" name="text" type="text" class="validate" required>
    <label for="img"></label>
    <span class="helper-text" data-error="Enter text"></span>
  </div>

  <button class="btn btn-primary">Add arcile</button>
</form>